# --- Virtual Environment ---
.venv/

# --- IDE & Editors ---
.idea/

# --- Python & Cache ---
__pycache__/

# --- Data Version Control (DVC) ---
# We keep .dvc/ (config) but ignore the heavy data internal cache
.dvc/cache/


# --- Project Specific Logs & Temp Files ---
logs/
scores.json
