tensorflow==2.20.0
pandas==2.3.3
dvc
mlflow==3.7.0
notebook==7.5.1
numpy==2.4.0
matplotlib==3.10.8
seaborn==0.13.2
python-box==7.2.0
pyYAML==6.0.3
tqdm==4.67.1
ensure==1.0.2
joblib==1.5.3
types-PyYAML==6.0.12.20250915
scipy==1.16.3
Flask==3.1.1
Flask-Cors==6.0.2
gdown==5.2.0